<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService" maxReceivedMessageSize="2147483647" receiveTimeout=" 00:01:30">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://31.210.47.145:8585/Service.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
                contract="PronistServicex.IService" name="WSHttpBinding_IService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>