@{
    Layout = "~/Views/Shared/_PeraLayout.cshtml";
}
@section left
{
    @Html.Action("PeraLeftMenu", "Fi")
}
<h2><font color="red">Hata Oluştu !!! </font></h2>
<br/>
Hata Kodu:@ViewBag.ResultCode
<br />
Hata Mesajı :@ViewBag.Message


<br />
<br />
<br />
<br />
<a href="@Url.Action("Test", "Fi")" class="elements">
    Ödeme Sayfasına Geri Dön
</a>
| 
<a href="@Url.Action("Index", "Home")" class="elements">
    Ana Sayfa
</a>

