@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@model Nop.Plugin.Payments.PeraPay.Models.PeraPayBasicModel
@using Nop.Web.Framework;

<h1><font color="red">HATA !</font></h1><br>

@Model.NAME
<br /><br />
<a href="/onepagecheckout">Yeniden Dene</a>
